Cython==0.27.3
cymem==1.10
cytoolz==0.8.2
dill==0.2.7.1
humanize==0.5.1
msgpack-numpy==0.4.1
msgpack-python==0.4.8
murmurhash==0.28.0
numpy==1.13.3
pathlib==1.0.1
plac==0.9.6
preshed==0.35
py==1.4.34
pytest==3.2.3
python-cjson==1.2.1
six==1.11.0
termcolor==1.1.0
thinc==1.73
toolz==0.8.2
tqdm==4.19.4
wrapt==1.10.11
wsgiref==0.1.2
